Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/AnimStarterPack/
Content/ParagonLtBelica/
Content/_Game/Assets/Sounds/
Content/FPS_Weapon_Bundle/
Content/_Game/Assets/Textures/
