Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/AnimStarterPack/
Content/ParagonLtBelica/
Content/_Game/Assets/Sounds/
Content/FPS_Weapon_Bundle/
Content/_Game/Assets/Textures/
Content/A_Surface_Footstep/
Content/ParagonAgora/
Content/KiteDemo/
Content/Lighting/
Content/ParagonProps/
Content/SampleMap/
Content/ParagonTwinblast/
Content/ParagonGrux/
Content/_Game/Assets/FX/FXVillesBloodVFXPack/
Content/_Game/Assets/Materials/Environments/M_Land.uasset
Content/_Game/Assets/Materials/Environments/MI_Land_Grass.uasset
Content/_Game/Assets/Materials/Environments/MI_Land_Metal.uasset
Content/_Game/Assets/Materials/Environments/MI_Land_Tile.uasset
Content/_Game/Assets/Materials/Environments/MI_Stone.uasset
Content/_Game/Assets/Materials/Environments/MI_Water.uasset
Content/ParagonKhaimera/
Build/
